@model ActivosChevy.Models.HomeModel


<html>
<head>

</head>
<body onload='document.forms[0].submit()'>
    <form name='PostForm' method='POST' action='http://localhost:36749/Gestion'>
    <!--<form name='PostForm' method='POST' action='http://localhost:36749/Tecnologia'>-->
    <input name='FormatoUsuario' type='text' value='angel.bustosb'>
     </form>
</body>
    </html>



